/* .sapMBtnInner {
    height: 25px;
    align-items: center;
}

.sapUiIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sapUiIcon, .sapMInputBaseInner, .sapMInputBaseContentWrapper {
    height: 25px;
}

.sapMBtnIcon  {
    font-size: 15px;
}

.sapMBtn.sapMBtnBase {
    height: 60px;
}

.sapMSF {
    height: 32px;
}

.sapMSFF {
    height: 25px;
}

.sapMSFB {
    display: flex;
    align-items: center;
    justify-content: center;
} */